<!-- header area start -->
<div class="top_header">
    <div class="top_left_menu">
        <ul class="top_menu">
            <li><a href="#"><i class="fa-solid fa-envelope"></i> info@webmail.com</a></li>
            <li><a href="#"><i class="fa-solid fa-location-dot"></i> 15/A, Nest Tower, NYC</a></li>
        </ul>
    </div>
    <div class="top_right_menu">
        <ul class="top_menu">
            <li>
                <a href="#">English </a>
            </li>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-vimeo"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </div>
</div>
<div class="bottom_header">
    <div class="header_logo">
        <a routerLink="/"><img src="../../assets/img/logo_150x.webp" alt=""></a>
    </div>
    <div class="header_main_menu">
        <ul class="main_menu">
            <li class="menu"><a routerLink="/">Home +</a>
                <ul class="sub_menu_drop">
                    <li><a href="#">Home Style 1</a></li>
                    <li><a href="#">Home Style 2</a></li>
                    <li><a href="#">Home Style 3</a></li>
                    <li><a href="#">Home Style 4</a></li>
                    <li><a href="#">Home Style 5</a></li>
                    <li><a href="#">Home Style 6</a></li>
                    <li><a href="#">Home Style 7</a></li>
                    <li><a href="#">Home Style 8</a></li>
                    <li><a href="#">Home Style 9</a></li>
                </ul>
            </li>
            <li class="shop_menu"><a href="#">Shop</a></li>
            <li class="menu"><a href="#">Product +</a>
                <ul class="sub_menu_drop">
                    <li><a href="#">Product Variants</a></li>
                    <li><a href="#">Product Countdown</a></li>
                    <li><a href="#">Product Media</a></li>
                </ul>
            </li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">contact</a></li>
            <li class="menu"><a href="#">Pages +</a>
                <ul class="sub_menu_drop">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Faq</a></li>
                </ul>
            </li>
        </ul>
        <div class="header_options">
            <ul>
                <li>
                    <div class="search">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </li>
                <li class="user">
                    <div class="user_icon">
                        <a href="#"><i class="fa-solid fa-user"></i></a>
                    </div>

                </li>
                <li>
                    <div class="cart_icon"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </li>
                <li>
                    <div class="bars" (click)="openMenu()"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Utilities Mobile Bar Menu Start -->
    <div class="utilities_bar" [class.menuClass]="menuBars">
        <div class="utilities">
            <div class="utilities_head">
                <div class="ut_logo">
                    <a href="#">
                        <img src="../../assets/img/logo_150x.webp" alt="">
                        
                    </a>
                    
                </div>
                <button [class.utilities_bar]="menuIconXbar"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="utilities_search">
                <form action="">
                    <input type="search" placeholder="Search our store">
                </form>
            </div>
            <div class="utilities_menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
            <div class="utilities_button">
                <ul>
                    <li><a href="#">
                        <span><i class="fa-solid fa-user"></i></span>
                        My Account
                    </a></li>
                    <li><a href="#">
                        <span><i class="fa-regular fa-heart"></i></span>
                        Wishlist
                    </a></li>
                    <li><a href="#">
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                        Shopping Cart 
                    </a></li>
                </ul>
            </div>
            <div class="ut_social_media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilities Mobile Bar Menu End -->

</div>
<!-- header area end  -->