<div class="footer">
    <div class="footer_top">
        <div class="footer_inner">
            <div class="footer_widget">
                <div class="footer_logo">
                    <img src="../../assets/img/logo_150x.webp" alt="">
                </div>
                <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.</p>
                <div class="footer_address">
                    <ul>
                        <li><span><i class="fa-solid fa-location-dot"></i></span><a href="#">Brooklyn, New York, United States</a></li>
                        <li><span><i class="fa-solid fa-phone"></i></span><a href="#">+0123-456789</a></li>
                        <li><span><i class="fa-regular fa-envelope"></i></span><a href="#">example@example.com</a></li>
                    </ul>
                </div>
                <div class="ft_socail_media">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vimeo"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_widget_one">
                <h3 class="footer_title">Company</h3>
                <div class="footer_menu">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">All products</a></li>
                        <li><a href="#">Locations Map</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_widget_two">
                <h3 class="footer_title">Services</h3>
                <div class="footer_menu">
                    <ul>
                        <li><a href="#">Order tracking</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Promotional Offers</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_widget_three">
                <h3 class="footer_title">Customer Care</h3>
                <div class="footer_menu">
                    <ul>
                        <li><a href="#">Order tracking</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Promotional Offers</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_widget_four">
                <h3 class="footer_title">Newsletter</h3>
                <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
                <div class="footer_newsletter">
                    <div class="footer_subs">
                        <input type="text">
                    </div>
                    <div class="footer_btn">
                        <button ><i class="fas fa-location-arrow"></i></button>
                    </div>
                </div>
                <h5>We Accept</h5>
                <div class="footer_wechat">
                    <img src="../../assets/img/payment-4_370x.avif" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        <div class="copyright_inner">
            <div class="copyright_left">
                <p>Copyright © <strong>Fahim</strong>  All Right Reserved.</p>
            </div>
            <div class="copyright_right">
                <ul>
                    <li><a routerLink="terms-of-service">Terms of Service</a></li>
                    <li><a routerLink="claim">Claim</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
