<!-- <section class="carousel_slide">
        <div class="slide_item">
            <div class="slide_item_info">
                <h6 class="animated">100% genuine Products</h6>
                <h1 class="animated">Tasty & Healthy <br>  Organic Food</h1>
                <div class="slide_info_btn animated">
                    <a href="#" class="btn_one">Shop Now</a>
                </div>
            </div>
            <div class="slide_item_image">
                <img src="../../assets/img/23_690x.webp" alt="">
            </div>
        </div>
</section> -->

<ngb-carousel 
[interval]="5000"
[showNavigationArrows]="false"
[animation]="true"
[pauseOnHover]="false"

>
    <ng-template ngbSlide *ngFor="let images of slide">
        <div class="slide_item">
            <div class="slide_item_info">
                <h6 class="animated">{{images.slideSubTitle}}</h6>
                <h1 class="animated">{{images.slideTitle}}</h1>
                <div class="slide_info_btn animated">
                    <a href="#" class="btn_one">{{images.slideBtn}}</a>
                </div>
            </div>
            <div class="slide_item_image">
                <img src="../../assets/img/{{images.slideImage}}" alt="">
            </div>
        </div>
    </ng-template>
</ngb-carousel>