<div class="combo_package_inner">
    <div class="comboJar_img">
        <img src="../../assets/img/11_470x.webp" alt="">
    </div>
    <div class="combo_info">
        <h2>Todays Hot Deals</h2>
        <h1>Original Stock Honey <br> Combo Package</h1>
        <div class="combo_countdown">
            <div class="single">
                <h1>{{demo}}</h1>
                <p>DAYS</p>
            </div>
            <div class="single">
                <h1>{{demoOne}}</h1>
                <p>HRS</p>
            </div>
            <div class="single">
                <h1>{{demoTwo}}</h1>
                <p>MINS</p>
            </div>
            <div class="single">
                <h1>{{demoThree}}</h1>
                <p>SECS</p>
            </div>
        </div>
        <div class="combo_btn">
            <a href="#">Shop Now</a>
        </div>
    </div>
    <div class="comboT_img">
        <img src="../../assets/img/newsletter-popup-1_570x.webp" alt="">
    </div>
</div>
